header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #f5f5ec;
    background-color: #1a1d44;
    text-align: center;
}

#add {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 25px;
    background-color: #98b6ce;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#subtract {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 25px;
    background-color: #5571c8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#multiply {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 25px;
    background-color: #e3bd59;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    /* margin: 50px 50px 30px 50px; */
    height: 20px;
    width: 100%;
}

@media screen and (min-width: 46.25em) {
    header {
        font-size: 50px;
    }

    #add {
        flex-direction: row;
        padding-left: 75px;
    }

    #subtract {
        flex-direction: row;
        padding-left: 75px;
    }

    #multiply {
        flex-direction: row;
        padding-left: 75px;
    }

    h3 {
        margin: 50px 50px 30px 50px;
        height: 20px;
        width: 50%;
    }
}